.two-column-cta {
    padding: 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    .container {        
        padding: 93px 133px 136px;
        position: relative;
        @include breakpoint(991px) {
            padding: 93px 55px 136px;
        }
        @include breakpoint(440px) {
            padding: 90px 20px 110px;
            text-align: center;
        }
    }
    .dots-bottom {
        position:absolute;
        bottom: -67px;
        // right: -82px;
        z-index: -1;
        &.dots-left {
            left:-250px;
        }
        &.dots-right {
            right:-270px;
        }
    }
    
    &__headings {
        z-index: 9;
        &__eyebrow-heading {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
        }
        &__heading {
            letter-spacing: -1.5px;
            font-size: 56px;
            line-height: 56px;
            font-weight: 600;
            @include block-heading(950px, 33px);
            @include breakpoint(440px) {
                font-size: 36px;
                line-height: 40px;
            }
        }
        &__subheading {
            max-width: 900px;
            font-size: 20px;
            line-height: 32px;
            font-weight: 400;
            margin-bottom: 50px;
            text-align: center;
            @include breakpoint(440px) {
                font-size: 16px;
                line-height: 25px;
                margin-bottom: 0;
            }
        }
        &__heading, 
        &__subheading {
            p:last-of-type {
                text-align: center;
                margin-bottom: 0;
            }
        }
    }
    &__ctas {
        z-index: 9;
        &__center__button {
            margin-top:35px;
            font-weight: 600;   
            @extend %button;
        }
        &__column {
            &--wrapper {
                max-width: 560px;
                @include breakpoint(465px) {
                    align-items: center !important;
                }
                a {
                    font-size: 14px;
                }
            }
            &__heading {
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 20px;
                letter-spacing: -0.5px;
                font-weight: 600;
                @include breakpoint(465px) {
                    font-size: 28px;
                }
            }
            &__content {
                font-size: 20px;
                line-height: 32px;
                margin-bottom: 27px;
                @include breakpoint(465px) {
                    font-size: 16px;
                    line-height: 25px;
                }
            }
            &__button {
                &:hover {
                    color: #000000;
                }
            }
            &__list {
                list-style: none;
                padding-left: 0;
                li {
                    @extend %flex,
                        %afs;
                    font-size: 20px;
                    line-height: 32px;
                    &:not(:last-of-type) {
                        margin-bottom: 16px;
                    }
                    img {
                        margin: 6px 14px 0 0;
                    }
                }
            }
            &__button {
                @extend %button;
            }
            @include breakpoint(768px) {
                width: 100% !important;
                flex-basis: 100% !important;
                padding: 0 !important;
                &:first-child {
                    margin-bottom: 90px;
                    margin-top: 90px;
                }
            }
        }
    }
    @include breakpoint(768px) {
        padding: 0px;
    }
}